
/** BREAKPOINTS **/
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$tablet-size: 600px;
$mobile-size: 480px;
// $tab-size: 600px;
// $tab-size: 600px;

/** COLORS **/
// $primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
// $light-color: #f8f9fa;
// $dark-color: #343a40;

$primary-color: #5678ee;
$light-color: #f9f9f9;
$dark-color: #06002d;
$bg-dark: #333;


*, html, body{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    resize: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins' ,Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.container, .container-fluid{
    width: 80%;
    display: block;
    margin: auto;
  }
  .container-fluid{
    width: 90%;
  }
  .section{
    padding: 4rem 0rem;
    border-bottom: 1px solid #F1F1F1;
    @media screen and (max-width: $mobile-size) {
  
      padding: 2rem 0rem;
  
    }
  
    &-title{
      display: block;
      width: 50%;
      text-align: center;
      margin: 1.8rem auto;
      font-size: 1.8rem;
      position: relative;
      
    }
  }

  /**  A square box decorating the title**/
  .point{
    position: relative;
    &-tl::after{
      content: no-close-quote;
      position: absolute;
      border: 3px #444 solid;
      border-width: thick;
      z-index: 1;
      top: -8px;
      left: 40%;
    }
    &-tr::after{
      content: no-close-quote;
      position: absolute;
      border: 3px #444 solid;
      border-width: thick;
      z-index: 1;
      top: -6px;
      right: 40%;
    }
    &-bl::after{
      content: no-close-quote;
      position: absolute;
      border: 3px #444 solid;
      border-width: thick;
      z-index: 1;
      bottom: 3px;
      left: 38%;
    }
    &-br::after{
      content: no-close-quote;
      position: absolute;
      border: 3px #444 solid;
      border-width: thick;
      z-index: 1;
      bottom: 2px;
      right: 38%;
    }
  }

/*********************** BUTTONS **********************/
.btn{
    padding: .8rem 1.2rem;
    text-align: center;
    border: none;
    outline: none;
    transition: all 0.4s;
    &-primary{
      background-color: $primary-color;
      color: $light-color;
    }
    &-reverse{
      background-color: $light-color;
      color: #ddd;
    }
    &:hover{
      opacity: .8;
    }
  }
/*********************** FORMS *********************/

form.form{
  padding: 2rem .5rem;
}

label{
  display: block;
  font-size: .7rem;
  padding-bottom: .2rem;
  text-align: left;
}

.tip{
  display: block;
  font-size: .7rem;
  font-style: oblique;
}

.form-logo{
  display: block;
  text-align: center;
  width: 5rem;
  height: 5rem;
  margin: auto;
  padding: .2rem;
  background-color: $light-color;
  border-radius: 50%;
}

.form-group{
  display: block;
  width: 100%;
  margin-bottom: 1.2rem;
  &-inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    margin-bottom: 1.2rem;

    .form-item{
      width: 48%;
      flex-flow: row;
    }
    .form-item:first-of-type{
      margin-right: 1.3rem;
    }
  }

}
  
.form-control{
  display: block;
  width: 100%;
  padding: .4rem ;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color: #F1F1F1;
  // color: $dark-color;
}


  

  /******************************** TABLE *****************************/
  .table{
    width: 100%;
    
    thead{
      font-weight: bolder;
    }
    // th{
    //   background-color: $primary-color;
    //   color: $light-color;
    // }
    tr:hover{
      background-color: #ddd;
    }
    tr:nth-child(even){
      background-color: #CCC;
    }
    th{
      height: 2.5rem;
      text-align: left;
    }
    td{
      vertical-align: middle;
    }
    th, td{
      padding: 1rem;
      text-align: left;
      border-bottom: 1ps solid #ddd;
    }
  }

/*************** UTILITY ********************/
// Set text color based on background color
@function set-text-color($bg-color){
    @if (lightness($bg-color) > 55) {
      @return #06002d;
    } @else {
      @return #fff;
    }
  }
  // set Background Color
  @mixin set-background-color($color){
    background-color: $color;
    color: set-text-color($color);
  }
  // Paddings & Margins
  $sizes: (1, 2, 3, 4);
  @each $size in $sizes {
    // All round padding
    .p-#{$size}{
      padding: #{$size}rem;
    }
    // Padding top and bottom
    .py-#{$size}{
      padding: #{$size}rem 0rem;
    }
    // Padding left and right
    .px-#{$size}{
      padding: 0rem #{$size}rem;
    }
    // Padding right
    .pr-#{$size}{
      padding-right: #{$size}rem;
    }
    // Padding left
    .pl-#{$size}{
      padding-left: #{$size}rem;
    }
    // Padding top
    .pt-#{$size}{
      padding-top: #{$size}rem;
    }
    // Padding bottom
    .pb-#{$size}{
      padding-bottom: #{$size}rem;
    }
  
  
  
    // All round margin
    .m-#{$size}{
      margin: #{$size}rem;
    }
    // Margin top and bottom
    .my-#{$size}{
      margin: #{$size}rem auto;
    }
    // margin left and right
    .mx-#{$size}{
      margin: 0rem #{$size}rem;
    }
    // margin top
    .mt-#{$size}{
      margin-top: #{$size}rem;
    }
    // margin bottom
    .mb-#{$size}{
      margin-bottom: #{$size}rem;
    }
    // margin right
    .mr-#{$size}{
      margin-right: #{$size}rem;
    }
    // margin left
    .ml-#{$size}{
      margin-left: #{$size}rem;
    }
  }
  
  
  
  // Backgrounds
  .bg{
    &-dark{
      @include set-background-color($dark-color)
    }
  
    &-primary{
      @include set-background-color($primary-color)
    }
    &-light{
      @include set-background-color($light-color)
    }
    &-success{
      @include set-background-color($success-color)
    }
  
    &-danger{
      @include set-background-color($danger-color)
    }
  }
  /*************** SECTIONS & HEADERS ********************/
  .section{
    padding: 4rem 0rem;
    border-bottom: 1px solid #F1F1F1;
    @media screen and (max-width: $tablet-size) {
      padding: 2rem 0rem;
    }
  
    &-title{
      display: block;
      width: 50%;
      text-align: center;
      margin: 1.8rem auto;
      font-size: 1.8rem;
      position: relative;
      
    }
  }